.side-vids img {
    height: 200px;
    width: auto;
}

.side-vids h5 {
    font-size: 1.1rem;
    font-weight: 500;
}

.side-vids p {
    font-size: 0.8em;
}

.main-vid iframe {
    width: 100%;
    height: 480px;
}

.thumb {
    width: 100%;
}

.side-vids {
    display: none;
}
.hasbg {
    background-color: #B71C1C;
}

nav {
    box-shadow: none;
}

@media screen and (min-width: 992px) {
    .side-vids {
        display: block;
    }
     
}